.header {
    background-image: url('bgsilver.jpg');
    margin: 0px auto;
    width: auto;
    height: 100px;
}
.footer{
    background-image: url('bg\ silver.jpg');
    margin: 0px auto;
    width: auto;
    height: 160px;
}
.cv{
    background-color: rgb(147, 146, 146);
    margin: 7px auto  ;
    width: auto;
    height: auto;
}
.pendidikan {
    background-color: rgb(147, 146, 146);
    margin: 10px auto  ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.sd {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.smp {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.sma {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.kuliah {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.person{
    background-color: rgb(147, 146, 146);
    margin: 10px auto  ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.person1 {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.person2 {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.person3 {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 100px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.kemampuan {
    background-color: rgb(147, 146, 146);
    margin: 10px auto  ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.lp {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.wr {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.ex {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.ac {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.hobi {
    background-color: rgb(147, 146, 146);
    margin: 10px auto  ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
}
.bk {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.or {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}
.tr {
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    margin: 5px auto;
    text-align: center;
    color: rgb(56, 53, 53);
}