.header {
    background-image: url('bgsilver.jpg');
    margin: 0px auto;
    width: auto;
    height: 100px;
}
.footer{
    background-image: url('bg\ silver.jpg');
    margin: 0px auto;
    width: auto;
    height: 160px;
}
.main {
    background-color: rgb(147, 146, 146);
    margin: 7px 0px  ;
    width: 240px;
    height: 520px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: rgba(0, 0, 255, 0.525);
    text-decoration: underline;
}