.header {
    background-image: url('bgsilver.jpg');
    margin: 0px auto;
    width: auto;
    height: 100px;
}
.footer {
    background-image: url('bg\ silver.jpg');
    margin: 0px auto;
    width: auto;
    height: 160px;
}
.kontak {
    background-color: rgb(147, 146, 146);
    margin: 7px auto  ;
    width: auto;
    height: 350px;
}